body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}
.green_icons {
  height: 24px;
  width: auto;
}
#green_section {
  display: flex;
  justify-content: center;
}
#green_but {
  border-radius: 50px;
  display: flex;
  width: 300px;
  min-width: 70px;
  background-color: white;
}
#filter_slider_img {
  border-radius: 50%;
  border: 1px solid;
}
#blue_writing {
  display: flex;
  justify-content: center;
  width: 350px;
  margin: 10px 0px;
}
.logo {
  width: auto;
  height: 30px;
  margin: auto 30%;
}
.logo_writing {
  margin: 0 10px;
}
.blue_logo_writing {
  font-size: 10px;
  color: grey;
}
