body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}
.green_icons {
  height: 24px;
  width: auto;
}
#green_section {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
#green_but {
  border-radius: 50px;
  display: flex;
  width: 300px;
  min-width: 70px;
  background-color: white;
  border-bottom-color: rbg(34, 34, 34);
  border-width: 0px;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 50px;
  align-items: center;
}
#magnify_search {
  padding: 10px;
}
#anywhere_search {
  font-size: 0.875rem;
  font-family: Circular, -apple-system, "system-ui", Roboto;
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}
#week_guest {
  color: rgb(113, 113, 113);
  font-family: Circular, -apple-system, "system-ui", Roboto;
  font-size: 12px;
  font-weight: 400;
}
#weeks {
  padding: 4px;
}
#filter_slider_img {
  border-radius: 50%;
  border: 1px solid;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
  border-color: rgba(0, 0, 0, 0.2);
}
#blue_writing {
  display: flex;
  justify-content: center;
  width: 350px;
  margin: 10px 0px;
}
.logo {
  width: 30px;
  height: 30px;
  margin: auto 30%;
}
.logo_writing {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blue_logo_writing {
  font-size: 10px;
  color: grey;
}
.purple_section {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.guest_fav {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  color: black;
  border-radius: 50px;
  padding: 5px 7px;
}
.purple_image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.purple_heart {
  position: absolute;
  top: 10px;
  right: 10px;
}
.purple_below_section {
  padding-bottom: 30px;
}
.purple_below_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.rating {
  display: flex;
  gap: 10px;
}
.gray_description {
  color: #717171;
}
#orange_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
#show_button {
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  background-color: black;
  margin-top: 10px;
}
#popular {
  display: flex;
  list-style-type: none;
  overflow: scroll;
  max-width: 300px;
}
.pop_list {
  padding-right: 10px;
}
.country {
  color: grey;
}
#places {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}
.place_table {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 5px auto;
}
a {
  color: black;
  text-decoration: none;
}
h2 {
  font-weight: 300;
  text-align: center;
}
.blue_font {
  font-size: 0.9rem;
}
#blue_section {
  padding-bottom: 30px;
  padding-top: 20px;
}
.footer_links {
  list-style-type: none;
  margin-left: 0px;
  font-size: 0.875rem;
  color: #222222;
  padding-left: 24px;
}
ul {
  padding: 0px;
}
h3 {
  font-size: 13px;
  color: #222222;
  padding-left: 24px;
  padding-top: 14px;
}
#green_section2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 560px;
}
.bottom_green {
  font-size: 0.675rem;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
